<style>
  .input-group-addon:last-child {
      border-left: 0;
      height: 36px;
      padding-right: 25px;
  }
  .login-sec .field input {
      width: 90%;
  }
  #app_user_password {
    width: 96%;
  }
  #toggle-password-id {
    width: 20px;
    margin-left: -32px;
  }
  .form-control {
    font-size: 14px;
    color: black;
  }
  .well{
    padding: 15px;
    border-radius: 0;
    border: 1px solid #9999994f;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background: transparent;
  }
  .navbar{
  background: rgba(25, 28, 31, 0.8);
  }
  #header{
    height:71px !important;
  }
</style>

<div class="login-header text-center">
  <p>
    <h1>Sign up!</h1>
    <hr>
  </p>
</div>

<div class="row justify-content-center mb-4 pl-3 w-100">
  <div class="well col-md-5 col-md-offset-4 login-sec">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field pl-3">
        <%= f.label :first_name, 'First Name' %>
        <%= f.text_field :first_name, autofocus: true, class: "form-control", style: "width:100%" %>
      </div>
      <div class="field pl-3">
        <%= f.label :last_name, 'Last Name' %>
        <%= f.text_field :last_name, autofocus: true, class: "form-control", style: "width:100%" %>
      </div>
      <div class="field pl-3">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "width:100%" %>
      </div>

      <div class="field pl-3 mt-2">
          <%= f.label :password, 'Password' %>
         
          <%= f.password_field :password, autocomplete: 'current-password', class: "form-control", style: "width:100%"%>
      </div>

      <div class="field pl-3 mt-2">
       
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control",  style: "width:100%" %>
        
      </div>

      <div class="actions pl-3 mt-3">
        <%= f.submit "Sign up", class: 'btn btn-primary text-white  w-100'%>
      </div>
    <% end %>

  </div>
</div>



