<style type="text/css">
  .create{
    margin-top: 32px;
  }
</style>

<div class="container mt-5">
  <div class="row">

  <div class="col-lg-12 pl-2">
    <%= form_for @cake do |f| %>
      <div class="row">
        <div class="col-lg-6">
          <%= f.text_field :name ,placeholder:'Name', class:'form-control',:required => 'required'%>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :description ,placeholder:'Description' , class:'form-control', :required => 'required'%>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6">
          <%= f.text_field :price ,placeholder:'Price', class:'w-100 form-control', :required => 'required'%>
        </div>
        <div class="col-lg-6">
            
              
          <%= f.select :category, [["birthday", "birthday"], ["custom", "custom"], ["wedding", "wedding"]], {prompt: "Select"}, class: "w-100 form-control form-select", required: true %>
        </div>

      </div>
      <div class="row mt-5">
        <div class="col-lg-6">
          <%= f.label :image, "Image:", class: "block text-sm font-medium text-gray-700 mt-1 ms-2" %>
          <div class="mt-1 ms-2">
            <%= f.file_field :image %></br>
            <%= f.submit  "Create", :class=>"btn btn-primary border-inner mt-3 w-100"%>
          </div>
        </div>
      </div>
      
    <% end %>
  </div>
  </div>
</div>