<style>
  p{
    font-size:30px;
    color: grey;
  }
</style>

<div class="container mt-5 border">
  <div class="row">
    <div class="col-lg-12 d-flex">
      <h1>Name:</h1>
      <p class="mt-1 ms-3">
        <%= @cakes.name %> 
      </p>
    </div>
    <div class="col-lg-12 d-flex">
      <h1>Description:</h1>
      <p class="mt-1 ms-3">
        <%= @cakes.description %> 
      </p>
    </div>
    <div class="col-lg-12 d-flex">
      <h1>Price:</h1>
      <p class="mt-1 ms-3">
        <%= @cakes.price %> 
      </p>
    </div>
    <div class="col-lg-12 d-flex">
      <h1>Image:</h1>
      <p class="mt-1 ms-3">
        <%= @cakes.image %> 
      </p>
    </div>
    <div class="col-lg-12 d-flex">
      <h1>Category:</h1>
      <p class="mt-1 ms-3">
        <%= @cakes.category %> 
      </p>
    </div>
  </div>
</div>