

<div class="container-fluid mt-5 p-0">
  <div class="container">
    <div class="row border">
      <div class="col-lg-4 d-flex">
        <p class="mt-1 ms-3 show">
          <% @cake.image %>
          <%= image_tag @cake.image , class:"img-fluid" %> 
        </p>
      </div>
      <div class="col-lg-8 ps-5">
        <p class="mt-1 ms-3 show">
          <%= @cake.name %> 
        </p>
        <p class="mt-1 ms-3 show">
          <%= @cake.description %> 
        </p>
        <p class="mt-1 ms-3 show">
          <%= @cake.category%> 
        </p>
        <div class="mt-1 ms-3 show d-flex">
          <p>Price:$</p>
          <p><%= @cake.price %> </p>
        </div>
    
        <%#= form_with url: set_carts_path, method: :post do |f| %>
          <%#= f.hidden_field :@cake_id %>
          <%#= f.submit  "Add to Cart", :class=>"btn btn-primary border-inner p-3 mt-4 float-end"%>
        <%# end %>
        <%= link_to "Add to Cart", set_carts_path(cake_id: @cake.id), method: :post, class:"btn btn-primary border-inner p-3 mt-4 float-end" %>
      </div>
    </div>
  </div>
<div>

