<div class="container mt-5">
  <div class="row">

  <div class="col-lg-12 pl-2">
    <%= form_with model: @address do |f| %>
      <div class="row">
        <div class="col-lg-6">
          <%= f.text_field :first_name ,placeholder:'First Name', class:'form-control',:required => 'required'%>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :last_name , placeholder:'Last Name' , class:'form-control', :required => 'required'%>
        </div>
        <div class="col-lg-6 mt-3">
          <%= f.text_field :city , placeholder:'City' , class:'form-control', :required => 'required'%>
        </div>
        <div class="col-lg-6 mt-3">
          <%= f.text_field :state , placeholder:'State' , class:'form-control', :required => 'required'%>
        </div>
         <div class="col-lg-6 mt-3">
          <%= f.text_field :country , placeholder:'Country' , class:'form-control', :required => 'required'%>
        </div>
        <div class="col-lg-6 mt-3">
          <%= f.text_field :pincode ,placeholder:'PinCode', class:'w-100 form-control', :required => 'required'%>
        </div>
        <div class="col-lg-6 mt-3">
          <%= f.text_field :address ,placeholder:'Address', class:'w-100 form-control', :required => 'required'%>
        </div>
      </div>
      
      
      <div class="mt-3 text-center">
        <%= f.submit   "save", :class=>"btn btn-primary border-inner"%>
      </div>
    <% end %>
  </div>
  </div>
</div>