<style type="text/css">
  .bg-secondary{
    background-color: #FAF3EB !important;
  }
  .bg-primary{
    background-color: #E88F2A !important;
  }
  .border-inner{
    position: relative;
  }
  .border-inner::before{
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: none;
    border: 1px solid white;
    z-index: 0;
  }
  .heading{
    font-weight: 700 !important;
  }
  .icons{
    color: #E88F2A !important;
  }
  span{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #656565;
  }
  .bg-dark{
    background-color: #2B2825 !important;
  }
  .nav-item a{
    padding: 30px 15px;
    font-size: 18px !important;
    font-weight: 500;
    text-transform: uppercase;
    color: white !important;
    outline: none;
    transition: .5s;
  }
  .dropdown-menu a{
    color: black !important;
    font-weight: 400;
    text-decoration: none;
  }
</style>


<!-- top header start -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 bg-secondary text-center py-3">
      <div class="d-inline-flex align-items-center">
        <i class="bi bi-envelope fs-1 text-primary me-3 icons"></i>
        <div class="text-start">
          <h6 class="text-uppercase mb-1">Email Us</h6>
          <span>info@example.com</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 bg-primary border-inner py-3 d-inline-flex align-items-center">
      <h1 class="m-0 text-uppercase text-white heading">
        <i class="fa fa-birthday-cake fs-1 ms-5 text-dark me-3" aria-hidden="true"></i>CAKEZONE
      </h1>
    </div>
    <div class="col-lg-4 bg-secondary text-center py-3">
      <div class="d-inline-flex align-items-center justify-content-center">
        <i class="bi bi-phone-vibrate fs-1 text-primary me-3 icons"></i>
        <div class="text-start">
          <h6 class="text-uppercase mb-1">Call Us</h6>
          <span>+012 345 6789</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- top header end -->



<!-- Navbar Start -->



<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-collapse" data-toggle="collapse" data-target="#navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mx-lg-auto py-0">
        <li class="nav-item <%= 'active-item' if current_page?(root_path) %>">
          <%= link_to 'HOME',root_path(anchor:'home'), class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-item' if current_page?(about_index_path ) %>">
          <%= link_to  'ABOUT',about_index_path , class:"nav-link", id:"aboutpage"%>
        </li>
        <li class="nav-item <%= 'active-item' if current_page?(menu_index_path ) %>">
          <%= link_to  'Menu & pricing',menu_index_path , class:"nav-link"%>
        </li>
        <li class="nav-item <%= 'active-item' if current_page?(master_chefs_index_path ) %>">
          <%= link_to  'Master chef',master_chefs_index_path , class:"nav-link"%>
        </li>
        <li class="nav-item dropdown<%= 'active-item' if current_page?(services_index_path) %>">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PAGES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="p-1 nav-item<%= 'active-item' if current_page?(services_index_path ) %>">
              <%= link_to  'Our services',services_index_path ,class:"p-0"%>
            </li>
            <li class="p-1 <%= 'active-item' if current_page?(testimonials_index_path ) %>">
              <%= link_to  'Testimonials',testimonials_index_path , class:'p-0'%>
            </li>
          </ul>
        </li>
         <li class="nav-item <%= 'active-item' if current_page?(contacts_index_path ) %>">
          <%= link_to  'Contact us',contacts_index_path, class:"nav-link"%>
        </li>
        <% if !user_signed_in? %> 
          <li class="nav-item <%= 'active-item' if current_page?(new_user_session_path ) %>">
            <%= link_to "Log in", new_user_session_path,  class:"text-white nav-link"%>
          </li>
        <% end %>
        <li class="nav-item <%= 'active-item' if current_page?(cakes_path ) %>">
          <%= link_to "Cakes", cakes_path,  class:"text-white nav-link"%>
        </li>
        <% if user_signed_in? %> 
          <li class="nav-item <%= 'active-item' if current_page?(cakes_path ) %>">
            <%= link_to "Order Now", cakes_path,  class:"text-white nav-link"%>
          </li>
        <% end %>
        <% if user_signed_in? %> 
          <li class="nav-item <%= 'active-item' if current_page?(cakes_path ) %>">
            <%= link_to "Shop Now", cakes_path,  class:"text-white nav-link"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Navbar end -->
